<div id="comment-area">
  <h1>Comentários</h1>
  <form>
    <div style="display: flex; flex-direction: column; width: fit-content">
      <textarea
        name="comment-space"
        id="comment-space"
        cols="50"
        rows="10"
      ></textarea>
      <input
        style="
          width: 40%;
          margin-top: 5%;
          margin-left: auto;
          margin-right: 0;
        "
        type="submit"
        value="Submit here"
      />
    </div>
  </form>
  <div id="comment-section" style="display: block"></div>
</div>
<!-- script for displaying comments -->
<script src="/scripts/retrieve-comments.js"></script>