<!--START OF MAIN MENU HTML-->
<div id="home-top-menu">
  <div  id="home-title">
    <h1>Algotopics</h1>
  </div>
  <div id="home-top-button">
    <a id="home-link" href="../index.html" style="text-decoration: none; color: black">
      <p>Home</p>
    </a>
  </div>
  <div id="home-top-button">
    <a id="about-link" href="../about.html" style="text-decoration: none; color: black">
      <p>Sobre</p>
    </a>
  </div>
  <div id="search-bar">
    <div id="search-form">
      <form action="">
        <input type="text" name="" id="" placeholder="Procure um tópico aqui" />
      </form>
    </div>
    <!--Search icon (magnifying glass)-->
    <div id="search-icon">
      <button>
        <img src="../assets/search-icon.png" alt="search icon" />
      </button>
    </div>
  </div>
</div>
<!--END OF MAIN MENU HTML-->
